<!DOCTYPE html>
<html>
<head>
  <title>FbGraphRails</title>
  <%= stylesheet_link_tag    "fb_graph_rails/application" %>
  <%= javascript_include_tag "fb_graph_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
